.board-management {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.progress {
    width: calc(100% - 60px);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 60px;
}

.timer {
    position: fixed;
    z-index: 1;
    top: 25px;
    right: 25px;
}

.summary {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding-left: 60px;
}