<div class="board-management">
    <app-board-management></app-board-management>
</div>

<div class="progress">
    <app-progress></app-progress>
</div>

<div class="timer">
    <app-timer></app-timer>
</div>

<app-jigsaw-canvas [gameSettings]="gameSettings"></app-jigsaw-canvas>

<div *ngIf="(gameService.gameProgress$ | async)?.progressBar?.value == 100" class="summary">
    <ng-fireworks [options]="fireworksOptions" [style]="fireworksStyle"></ng-fireworks>
    <app-summary></app-summary>
</div>