.board-management {
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.progress {
    width: calc(100% - 60px);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 60px;
}

.timer {
    position: fixed;
    z-index: 1;
    top: 25px;
    right: 25px;
}

.jigsaw-canvas {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}