.stopwatch {
    font-size: 1.1rem;
    color: var(--highlight-green);
    background-color: var(--dark-gray-transparent);
    padding: 5px;

    &::selection {
        background: transparent;
    }
}