.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--dark-gray);

    fa-icon {
        position: absolute;
        top: calc((100% - 7rem) / 2);
        left: 50%;
        font-size: 7rem;
        color: var(--highlight-green);
        filter: drop-shadow(0 0 0.75rem var(--highlight-green));
    }
}