.jigsaw {
    position: absolute;
    left: 60px;
    cursor: grab;
}

.img {
    display: none;
    position: fixed;
    z-index: 1;
    max-width: 75%;
    max-height: 75%;
    top: 40px;
    left: 85px;
    filter: drop-shadow(0 0 1rem #1a1c27);

    &::selection {
        background: transparent;
    }
}