.jigsaw {
    position: absolute;
    left: 60px;
    cursor: grab;
}

.img {
    display: none;
    position: absolute;
    max-width: 75%;
    max-height: 75%;
    top: 25px;
    left: 85px;
    z-index: 1;
    filter: drop-shadow(0 0 1rem #1a1c27);
}