.jigsaw {
    position: absolute;
    left: 60px;
    background-color: rgba( 76, 76, 76 , 0.9);
    cursor: grab;
}

.img {
    display: none;
    position: fixed;
    z-index: 1;
    max-width: 60%;
    max-height: 60%;
    top: 40px;
    left: 85px;
    filter: drop-shadow(0 0 1rem #1a1c27);

    &::selection {
        background: transparent;
    }
}