.option-list {
    height: 100%;
    position: fixed;
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dark-gray);
    padding: 10px;
}

.option {
    list-style-type: none;
    margin: 5px 0;
}

.tooltip {
    background-color: var(--dark-grey-transparent);
}